h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    color: white;
}

body{
    background-color: black;
}



.selector-1 label{
    display: inline-block;
    margin: 5px; 
}

.selector-1{
    text-align: center;
}

.selector-1-buttons{
    width: 100px;
    height: 80px;
    border-radius: 150px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 17px;
    padding-bottom: 3px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.selection-button-1{
    background-color: rgb(57, 72, 160);
    border: 4px solid rgb(57, 72, 160);
}
.selection-button-2{
    background-color: rgb(41, 57, 146);
    border: 4px solid rgb(41, 57, 146);
}
.selection-button-3{
    background-color: rgb(25, 37, 102);
    border: 4px solid rgb(25, 37, 102);
}

.workout-selection-1 input[type="radio"],
.workout-selection-2 input[type="radio"],
.workout-selection-3 input[type="radio"]{
    display: none;
}

.workout-selection-1 input[type="radio"]:checked + .selection-button-1,
.workout-selection-2 input[type="radio"]:checked + .selection-button-2,
.workout-selection-3 input[type="radio"]:checked + .selection-button-3{
    border-color: white;
}

.top-horizontal-line{
    width: 400px;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 35px;
}



.workout-duration-1 .duration-button-1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(57, 72, 160);
    border: 4px solid rgb(57, 72, 160);
    margin-bottom: 10px;
}

.workout-duration-2 .duration-button-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(41, 57, 146);
    border: 4px solid rgb(41, 57, 146);
    margin-bottom: 10px;
}

.workout-duration-3 .duration-button-3{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(25, 37, 102);
    border: 4px solid rgb(25, 37, 102);
    margin-bottom: 10px;
}

.workout-duration-4 .duration-button-4{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(11, 19, 58);
    border: 4px solid rgb(11, 19, 58);
    margin-bottom: 10px;
}

.workout-duration-1,
.workout-duration-2,
.workout-duration-3,
.workout-duration-4{
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-left: 565px;
}

.workout-duration-1 input[type="radio"],
.workout-duration-2 input[type="radio"],
.workout-duration-3 input[type="radio"],
.workout-duration-4 input[type="radio"]{
    display: none;
}

.workout-duration-1 input[type="radio"]:checked + .duration-button-1,
.workout-duration-2 input[type="radio"]:checked + .duration-button-2,
.workout-duration-3 input[type="radio"]:checked + .duration-button-3,
.workout-duration-4 input[type="radio"]:checked + .duration-button-4{
    border-color: white;
}



.workout-difficulty-1 .difficulty-button-1{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(57, 72, 160);
    border: 4px solid rgb(57, 72, 160);
    margin-bottom: 10px;
    margin-top: 25px;
}

.workout-difficulty-2 .difficulty-button-2{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(41, 57, 146);
    border: 4px solid rgb(41, 57, 146);
    margin-bottom: 10px;
}

.workout-difficulty-3 .difficulty-button-3{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(25, 37, 102);
    border: 4px solid rgb(25, 37, 102);
    margin-bottom: 10px;
}

.workout-difficulty-1,
.workout-difficulty-2,
.workout-difficulty-3{
    display: flex;
    align-items: center;
    color: white;
    font-size: 35px;
    margin-left: 0px;
}

.difficulty-button-1,
.difficulty-button-2,
.difficulty-button-3{
    margin-right: 20px;
}

.workout-difficulty-1 input[type="radio"],
.workout-difficulty-2 input[type="radio"],
.workout-difficulty-3 input[type="radio"]{
    display: none;
}

.workout-difficulty-1 input[type="radio"]:checked + .difficulty-button-1,
.workout-difficulty-2 input[type="radio"]:checked + .difficulty-button-2,
.workout-difficulty-3 input[type="radio"]:checked + .difficulty-button-3{
    border-color: white;
}

.container-two-three{
    display: flex;
    flex-direction:row;
    gap: 15px;
    align-items: flex-start;
}

.selector-4 {
    width: 400px;
    height: 80px;
    border-radius: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px auto 0 auto;
    cursor: pointer;
    color: white;
    font-size: 50px;
    border: 4px solid white;
    background-color: rgb(25, 37, 102);
    position: relative;
    z-index: 10;
}

.middle-horizontal-line{
    width: 400px;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
}

a{ 
    color: white;
    text-decoration: none;
    font-size: 70px;
}

.page-selector{
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-horizontal-line{
    width: 400px;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-selection-1{
    background-color: rgb(57, 72, 160);
    padding-right: 44px;
    padding-left: 43px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.page-selection-2{
    background-color: rgb(25, 37, 102);
    padding-right: 43px;
    padding-left: 43px;
}

.page-selection-3{
    background-color: rgb(11, 19, 58);
    padding-right: 43px;
    padding-left: 44px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}